.btn-navbar{
    padding: 20px 30px;
    margin: 20px 0;
}


.info > .btn-navbar{
    padding: 0px;
    margin: 0px;
    margin-bottom: 30px;
}

nav{
    justify-content: center;
    --tw-bg-opacity: 1;
    background-color: rgb(37 99 235 / var(--tw-bg-opacity));
    justify-content: space-between;
}

.principal-ref{
    display:flex;
    flex-direction: column;
}

.info{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;
}

