/* Estilos del contenedor */
.spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  /* Estilos de la ruleta */
  .spinner {
    width: 60px;
    height: 60px;
    border: 6px solid transparent;
    border-top: 6px solid #3498db;
    border-right: 6px solid #e74c3c;
    border-bottom: 6px solid #f9c922;
    border-left: 6px solid #2ecc71;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  /* Animación de la ruleta */
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  